@import "tailwindcss";

@theme {
    --breakpoint-xs : 32rem
}

*:focus{
    @apply outline-none;
}

*:focus-visible{
    @apply ring-2 ring-green-100;
}

body{
    margin-top: 61.6px;
    font-family: 'Roboto';
}

@layer components{
    .btn-primary{
        @apply text-white shadow-md bg-[#198754] hover:bg-[#198754]/80 active:bg-[#198754] text-[14px] cursor-pointer rounded-md leading-none;
    }
    .btn-primary[disabled]{
        @apply bg-[#198754]/60 cursor-not-allowed;
    }
    .btn-secondary{
        @apply shadow-md border border-neutral-700 hover:bg-neutral-200 active:bg-[white] text-[14px] cursor-pointer rounded-md leading-none;
    }
    .btn-tertiary{
        @apply shadow-md border border-[#198754] text-[#198754] hover:bg-[#198754]/10 active:bg-[white] text-[14px] cursor-pointer rounded-md leading-none;
    }
}