@import "tailwindcss";

@theme {
    --breakpoint-xs : 32rem
}

*:focus{
    @apply outline-none;
}

*:focus-visible{
    @apply ring-2 ring-green-100;
}

body{
    margin-top: 61.6px;
    font-family: 'Roboto';
}

@layer components{
    .btn-primary{
        @apply text-white shadow-md bg-[#198754] hover:bg-[#198754]/80 active:bg-[#198754] text-[14px] cursor-pointer rounded-md leading-none;
    }
    .btn-primary[disabled]{
        @apply bg-[#198754]/60 cursor-not-allowed;
    }
    .btn-secondary{
        @apply shadow-md border border-neutral-700 hover:bg-neutral-200 active:bg-[white] text-[14px] cursor-pointer rounded-md leading-none;
    }
    .btn-tertiary{
        @apply shadow-md border border-[#198754] text-[#198754] hover:bg-[#198754]/10 active:bg-[white] text-[14px] cursor-pointer rounded-md leading-none;
    }

    .success{
        @apply bg-green-50 [&_.progress]:bg-green-500;
    }
    .warning{
        @apply bg-yellow-50 [&_.progress]:bg-yellow-500;
    }
    .error{
        @apply bg-red-50 [&_.progress]:bg-red-500;
    }
    .info{
        @apply bg-blue-50 [&_.progress]:bg-blue-500;
    }

    .fade {
        @apply opacity-0;
    }
    .slide {
        @apply opacity-0 -translate-x-full;
    }
    .scale {
        @apply opacity-0 scale-[0.75];
    }
}